<!-- navbar.component.html -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <img src="assets/Clogo.png" alt="Brand Logo" />
      </span>
      <span class="spacer"></span>
      <a mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-button routerLink="/about">
        <mat-icon>info</mat-icon>
        About
      </a>
      <a mat-button routerLink="/contact">
        <mat-icon>mail</mat-icon>
        Contact
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  